#Ignore everything                                                             
*                                                                              
/*/                                                                             
                                                                                
!.gitignore                                                                    
!config.xml
                                                                                
!/www/                                                                         

 